.header {
    background: #ffffff;
}

.header__inner {
    max-width: 100%;
    color:#998f7c;
    display: flex;
    align-items: center;
}

.header__utilities {
    margin: 0 auto;
}

.header__logo {
    color: #554f33;
    text-decoration: none;
    font-size:30px;
    margin: 0 0 0 60px;
    font-family: serif;
}

.header__login {
    transform:translate( -50px, 10px);
    cursor: pointer;
}

.header__login--btn {
    color:#c9bf94;
    border: 1px solid #c9bf94;
    width: 70px;
}

